# 1 pandas 数据结构

## 1.1 series 一维数组

### 1.1.1 创建

#### 1.1.1.1 生成series对象

In [1]:
import pandas as pd
s = pd.Series(data=[1, 2, 3], index=['red', 'yellow', 'blue'])# data 可以是字典、numpy 里的 ndarray 对象等。index 是数据索引.
print(s)

red       1
yellow    2
blue      3
dtype: int64

#### 1.1.1.2 dict to Series

In [2]:
dic = {'a':1, 'b':2, 'c':3}
s = pd.Series(dic)
print(s)

a    1
b    2
c    3
dtype: int64

#### 1.1.1.3 ndarray to Series

In [3]:
import numpy as np
ndarray = np.random.randn(5)
index = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(data=ndarray, index=index)
print(s)

a    1.868513
b    2.294325
c    0.653171
d   -0.020408
e    0.254908
dtype: float64

## 1.2 DataFrame 二维数组

### 1.2.1 创建

#### 1.2.1.1 Series 字典 to DataFrame

In [4]:
# coding:utf-8
import pandas as pd
series_dict = {'one': pd.Series(data=[1, 2, 3], index=['a', 'b', 'c']), 'two':pd.Series(data=[1, 2, 3, 4], index=['a','b','c','d'])}
data_frame = pd.DataFrame(series_dict)
print(data_frame)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

#### 1.2.1.2 字典组成的列表 to DataFrame

In [5]:
# coding:utf-8
import pandas as pd
# 带字典的列表
d = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(d)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

#### 1.2.1.3 DataFrame.from_ 方法

In [6]:
# 如下所示为DataFrame.from_dict()用法，还有更多用法详见手册。
dict_list = [('A', [1, 2, 3]), ('B', [4, 5, 6])]
c = ['one', 'two', 'three']
d = pd.DataFrame.from_dict(dict(dict_list))
print(d)

   A  B
0  1  4
1  2  5
2  3  6

### 1.2.2 DataFrame 运算

In [7]:
# 四则运算 add/ sub/ div/ mul
# 创建两个frame
frame1 = pd.DataFrame(np.arange(16).reshape((4,4)), index=['red', 'blue', 'yellow', 'white'], columns=['ball','pencil', 'pen', 'pare'])
frame2 = pd.DataFrame(np.arange(16).reshape((4,4)), index=['red', 'blue', 'yellow', 'white'], columns=['ball','pencil', 'pen', 'pare'])
print(frame1.add(frame2))
print(frame1.sub(frame2))
print(frame1.div(frame2))
print(frame1.mul(frame2))

        ball  pencil  pen  pare
red        0       2    4     6
blue       8      10   12    14
yellow    16      18   20    22
white     24      26   28    30
        ball  pencil  pen  pare
red        0       0    0     0
blue       0       0    0     0
yellow     0       0    0     0
white      0       0    0     0
        ball  pencil  pen  pare
red      NaN     1.0  1.0   1.0
blue     1.0     1.0  1.0   1.0
yellow   1.0     1.0  1.0   1.0
white    1.0     1.0  1.0   1.0
        ball  pencil  pen  pare
red        0       1    4     9
blue      16      25   36    49
yellow    64      81  100   121
white    144     169  196   225

# 2 pandas 库函数

## 2.1 apply()

In [8]:
# 对DataFrame应用一个方法
# 创建一个frame
frame = pd.DataFrame(np.arange(16).reshape((4,4)), index=['red', 'blue', 'yellow', 'white'], columns=['ball','pencil', 'pen', 'pare'])
print(frame)
func = lambda x: x.max() - x.min()
print(frame.apply(func))# 默认对列进行处理
print(frame.apply(func, axis=1))# 指定对列进行处理

        ball  pencil  pen  pare
red        0       1    2     3
blue       4       5    6     7
yellow     8       9   10    11
white     12      13   14    15
ball      12
pencil    12
pen       12
pare      12
dtype: int64
red       3
blue      3
yellow    3
white     3
dtype: int64

## 2.2 sum()

In [9]:
print (frame.sum(axis=1)) #指定计算每行的和

red        6
blue      22
yellow    38
white     54
dtype: int64

## 2.3 mean()

In [10]:
print(frame.mean(axis=1)) # 指定计算每行的平均值

red        1.5
blue       5.5
yellow     9.5
white     13.5
dtype: float64

## 2..4 describe 计算多个统计量

In [11]:
print(frame.describe()) # 默认计算列的统计量
print(frame.T.describe()) # 转置后计算出原本是行的统计量

            ball     pencil        pen       pare
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000
            red      blue     yellow      white
count  4.000000  4.000000   4.000000   4.000000
mean   1.500000  5.500000   9.500000  13.500000
std    1.290994  1.290994   1.290994   1.290994
min    0.000000  4.000000   8.000000  12.000000
25%    0.750000  4.750000   8.750000  12.750000
50%    1.500000  5.500000   9.500000  13.500000
75%    2.250000  6.250000  10.250000  14.250000
max    3.000000  7.000000  11.000000  15.000000

# 3 pandas 数据读写

## 3.1 read_csv()

In [12]:
'''
# csv 文件内容
white,red,blue,green,animal
1,5,2,3,cat
2,7,8,5,dog
3,3,6,7,horse
2,2,8,3,duck
4,4,2,1,mouse
'''
# csv_file_path = os.path.join(os.getcwd(), 'python_analyze_datas\ch05_01.csv')
# csv_frame = pd.read_csv(csv_file_path, na_rep='NaN')# 指定空为NaN
# print(csv_frame)

'\n# csv 文件内容\nwhite,red,blue,green,animal\n1,5,2,3,cat\n2,7,8,5,dog\n3,3,6,7,horse\n2,2,8,3,duck\n4,4,2,1,mouse\n'

In [13]:
# 有些数据如下，没有表头直接是数据，此时需要指定表头
'''
1,5,2,3,cat
2,7,8,5,dog
3,3,6,7,horse
2,2,8,3,duck
4,4,2,1,mouse
'''
# csv2 = os.path.join(os.getcwd(), 'python_analyze_datas\ch05_02.csv')
# csv_frame_1 = pd.read_table(csv2, sep=',', header=None)# 使用默认索引
# csv_frame_2 = pd.read_table(csv2, sep=',', names=['white','red','blue','green', 'animal'])# 指定索引

'\n1,5,2,3,cat\n2,7,8,5,dog\n3,3,6,7,horse\n2,2,8,3,duck\n4,4,2,1,mouse\n'

## 3.2 read_table()

In [14]:
# 需指定分隔符
# csv_frame = pd.read_table(csv_file_path, sep=',')

## 3.3 to_csv()

In [15]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)), index=['red', 'blue', 'yellow', 'white'], columns=['ball','pencil', 'pen', 'pare'])
frame.to_csv('test.csv')
print(pd.read_csv('test.csv'))
frame.to_csv('test.csv', index=False, header=False)# 这样只将数据进行保存
print(pd.read_csv('test.csv'))

  Unnamed: 0  ball  pencil  pen  pare
0        red     0       1    2     3
1       blue     4       5    6     7
2     yellow     8       9   10    11
3      white    12      13   14    15
    0   1   2   3
0   4   5   6   7
1   8   9  10  11
2  12  13  14  15

## 3.4 .to_html()

In [16]:
frame = pd.DataFrame(np.arange(4).reshape(2,2))
print(frame.to_html())# 输出了html表格

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
    </tr>
  </tbody>
</table>

## 3.5 .read_excel()

In [17]:
# pd.read_excel('test.xls', 'Sheet1')

## 3.6 to_excel()

In [18]:
frame = pd.DataFrame(data=np.arange(16).reshape(4,4))
frame.to_excel('test.xls', 'Sheet2')# 将数据保存到sheet2中

## 3.7 还有read_json、to_json等等

# 4 pandas  对接数据库

## 4.1 mysql

### 4.1.1 存数据

In [19]:
#此处以mysql为例子
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
# engine = create_engine(r'mysql+mysqldb://root:myPassword123#@localhost:3306/testsql')
# frame = pd.DataFrame(np.arange(36).reshape(6, 6))# 创建用于存储的dataframe
# frame.to_sql('table_name', engine)# 这样就将DataFrame 存到了mysql中

### 4.1.2 读数据

In [20]:
# frame = pd.read_sql('table_name', engine)# 从mysql中读数据为DataFrame
# print(frame)

## 4.2 mongodb

### 4.2.1 存数据

In [21]:
#此处以mongodb为例子
import numpy as np
import pandas as pd
import pymongo
import json
# client = pymongo.MongoClient(host='localhost', port=27017)
# db = client.pandas_test# 连接数据库
# collection = db['test']# 连接数据库中的集合
# frame = pd.DataFrame(np.arange(4).reshape(2, 2), index=['one', 'two'], columns=['chinese', 'english'])
# recordes = json.loads(frame.T.to_json()).values() # 将值转换成列表，便于存成多条。
# collection.insert(recordes)# 将数据保存到集合中

### 4.2.2 读数据

In [22]:
# recordes = collection.find()
# frame = pd.DataFrame(list(recordes))
# del frame['_id'] # 删除_id列
# print(frame)